<ion-app>

  <ion-menu #menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="menu.close()"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
        </ion-buttons>
        <ion-thumbnail slot="start">
          <img alt="logo of app" src="assets/icon/icon_app.png" />
        </ion-thumbnail>
        <ion-title>FUTCaser</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list *ngIf="(auth.isConnected$ | async) && (auth.user$ | async)">
        <ion-item [color]="routeInclude('home')?'primary':''" (click)="close(menu)" [routerLink]="['/home']" button detail="false"><ion-icon slot="start" name="home"></ion-icon>{{ 'menu.home' | translate}}</ion-item>
        <ion-item [color]="routeInclude('myplayers')?'primary':''" (click)="close(menu)" [routerLink]="['/myplayers']" button detail="false"><ion-icon slot="start" name="football-outline"></ion-icon>{{ 'menu.myplayers' | translate}}</ion-item>
        <ion-item [color]="routeInclude('mysquads')?'primary':''" (click)="close(menu)" [routerLink]="['/mysquads']" button detail="false"><ion-icon slot="start" name="people-outline"></ion-icon>{{ 'menu.mysquads' | translate}}</ion-item>
        <ion-item [color]="routeInclude('about')?'primary':''" (click)="close(menu)" [routerLink]="['/about']" button detail="false"><ion-icon slot="start" name="information-circle-outline"></ion-icon>{{ 'menu.about' | translate }}</ion-item>
        <ion-item (click)="onSignOut(menu)" button detail="false"><ion-icon slot="start" name="log-out-outline"></ion-icon>{{ 'menu.signout' | translate}}</ion-item>
      </ion-list>
      <ion-list *ngIf="(auth.isConnected$ | async) && !(auth.user$ | async)">
        <ion-item [color]="routeInclude('home')?'primary':''" (click)="close(menu)" [routerLink]="['/home']" button detail="false"><ion-icon slot="start" name="home"></ion-icon>{{ 'menu.home' | translate}}</ion-item>
        <ion-item [color]="routeInclude('about')?'primary':''" (click)="close(menu)" [routerLink]="['/about']" button detail="false"><ion-icon slot="start" name="information-circle-outline"></ion-icon>{{ 'menu.about' | translate }}</ion-item>
        <ion-item [color]="routeInclude('login')?'primary':''" (click)="close(menu)" [routerLink]="['/login']" button detail="false"><ion-icon slot="start" name="log-in-outline"></ion-icon>{{ 'menu.login' | translate}}</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <app-header *ngIf="(auth.isConnected$ | async) && (auth.user$ | async)"
      [nickname]="(auth.user$ | async)!.nickname"
      [username]="(auth.user$ | async)!.name + ' ' + (auth.user$ | async)!.surname"
      [languages]="['es','en']" 
      [languageSelected]="lang" 
      (onLanguage)="onLang($event)"
      (onSignout)="onSignOut(menu)"></app-header>
    <app-header *ngIf="(auth.isConnected$ | async) && !(auth.user$ | async)"
      [languages]="['es','en']" 
      [languageSelected]="lang" 
      (onLanguage)="onLang($event)"></app-header>
    <ion-router-outlet></ion-router-outlet>
  </div>
  
</ion-app>
