<ion-card appHighlight (click)="onEditClick($event)">
  <ion-card-subtitle>{{player?.rating}}</ion-card-subtitle>
  <ion-card-subtitle>{{player?.position}}</ion-card-subtitle>
  <ion-buttons>
    <ion-button (click)="onDeleteClick($event)"><ion-icon name="trash-outline"></ion-icon></ion-button>
  </ion-buttons>
  <ion-card-header>
    <div class="card-header">
      <ion-avatar>
        <img *ngIf="player" alt="Player photo"  [src]="player.picture" />
      </ion-avatar>
      <div>
        <ion-card-title>{{player?.name}}</ion-card-title>
      </div>
    </div>
  </ion-card-header>
  <ion-card-content>
    <div>
      <ion-label *ngIf="player">{{player.age}} {{'player.yearsLabel' | translate}}</ion-label>
      <ion-label>{{player?.nation}}</ion-label>
    </div>
  </ion-card-content>
</ion-card>